

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    min-height: 100vh;
    max-width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    word-spacing: 1px;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
}
.calculator{
    padding: 15px;
    box-shadow: 0 0 15px #000;
    border: 2px solid gray;
    border-radius: 15px;
}
.display input{
    width:350px;
    padding:20px;
    margin:10px;
    background: transparent;
    color: white;
    font-size: 35px;
    text-align: right;
    cursor: pointer;
}
input::placeholder{
    color:white;
}
button{
    width: 65px;
    height: 65px;
    margin: 10px;
    border:0;
    border-radius: 50%;
    font-weight: 600;
    background: transparent;
    color:white;
    box-shadow: -5px -6px 15px rgb(144, 166, 179);
    outline:1px solid pink;
}
button:hover{
    color: rgb(14, 14, 14);
    background-color: rgb(135, 190, 222);
    
}